@import settings.sass
    
#advantages
    background: url(../images/texture.png)
    background-repeat: no-repeat
    background-size: cover
    padding: 90px 0
    position: relative
    @media (max-width: 640px)
        padding: 30px 0
    .container
        position: relative
        z-index: 2
    &::before
        content: ''
        height: 160px        
        width: 100%
        display: block
        background: linear-gradient(180deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 100%)
        position: absolute
        top: 0
    &::after 
        content: ''
        height: 160px        
        width: 100%
        display: block
        background: linear-gradient(180deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 100%)
        transform: rotate(-180deg)
        position: absolute
        bottom: 0
    .glow
        &:nth-of-type(1)
            left: 0
            top: 140px
            content: url(../images/glow7.svg)
        &:nth-of-type(2)
            right: 0
            top: 580px
            content: url(../images/glow8.svg)
    h2
        padding-bottom: 30px
    .items
        width: 25%
        margin: 60px 0
        .item
            padding: 20px 0
            position: relative
            .content
                display: none
                position: absolute
                background: $white
                padding: 15px
                z-index: 4
                &::before
                    content: ""
                    position: absolute
                    inset: 0
                    border-radius: 10px
                    padding: 2px
                    background: linear-gradient(#00AFEA, #0D4477)
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
                    -webkit-mask-composite: xor
                    mask-composite: exclude
            &:hover
                .content
                    display: block
            .num
                color: #ddd
                font-weight: 900
                font-size: 30px
                padding-bottom: 5px
            .text
                font-size: $font-m
                &::before
                    content: url(../images/item.svg)
        @media (max-width: 640px)
            margin: 20px 0
            .item
                padding: 10px 0
    .image
        width: 50%
        img
            margin: auto
            padding: 31px 0px 0px 45px
    
    @media (max-width: 1200px)
        .row
            flex-wrap: wrap
            text-align: center
            .col
                width: 100%