#loader
  height: 100vh
  width: 100vw
  display: flex
  align-items: center
  position: absolute
  &~#page
    opacity: 0
    //animation: opacity 5s 1 linear
    height: 100vh
@keyframes opacity
  0%
    opacity: 0
  100%
    opacity: 1
.loader
  overflow: hidden
  border-radius: 50%
  width: 10em
  height: 10em

  &:after
    overflow: hidden
    border-radius: 50%
    width: 10em
    height: 10em

  margin: 60px auto
  font-size: 10px
  position: relative
  text-indent: -9999em
  border-top: 1.1em solid rgba(101, 171, 248, 0.2)
  border-right: 1.1em solid rgba(101, 171, 248, 0.2)
  border-bottom: 1.1em solid rgba(101, 171, 248, 0.2)
  border-left: 1.1em solid #65abf8
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-animation: load8 1.1s infinite linear
  animation: load8 1.1s infinite linear

@-webkit-keyframes load8
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes load8
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

.ready .fadeUp
  animation-name: fadeUp
  animation-duration: 1000ms
  animation-delay: 0ms
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: 1
  transform-origin: 0 0
  position: absolute
  z-index: 2
  margin-top: 50px
  margin-left: -50px
  max-width: fit-content
  animation-direction: alternate
  @media (max-width: 960px)
    max-width: 550px
    margin-top: 30px
    margin-left: -40px
    @media (max-width: 640px)
      max-width: 450px
      margin-top: 20px
      margin-left: -30px
      @media (max-width: 480px)
        max-width: 320px
        margin-left: -20px

@keyframes fadeUp
  0%
    transform: translate(140px, 200px) rotate(355deg)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: translate(0,0) rotate(360deg)

.ready .fadeIn
  animation-name: fadeIn
  animation-duration: 500ms
  animation-delay: 800ms
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: 1
  transform-origin: center
  transform: rotateZ(-45deg) scale(0)
  max-width: fit-content
  animation-direction: alternate
  @media (max-width: 960px)
    max-width: 500px
    @media (max-width: 640px)
      max-width: 400px
      @media (max-width: 480px)
        max-width: 300px

@keyframes fadeIn
  0%
    transform: rotateZ(-45deg) scale(0)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: rotateZ(0deg) scale(1)

.fixed
  animation-name: fadeDown
  animation-duration: 200ms
  animation-delay: 0
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: 1
  transform-origin: center
  animation-direction: alternate
@keyframes fadeDown
  0%
    transform: translate(0, -100px)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: translate(0, 0)

.popup_container
  animation-name: zoom
  animation-duration: 100ms
  animation-delay: 0
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: 1
  transform-origin: 0 0
  animation-direction: alternate
  @media (max-width: 960px)
    animation-name: zoom960
    transform-origin: center

@keyframes zoom
  0%
    transform: scale(0) translate(-50%,-50%)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: scale(1) translate(-50%,-50%)
@keyframes zoom960
  0%
    transform: scale(0) translate(0)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: scale(1) translate(0)


#about .video_wrap .video, #advantages .image img, #tariffs .col
  animation-name: zoomW
  animation-duration: 2000ms
  animation-delay: 0
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: infinite
  transform-origin: center
  animation-direction: alternate
@keyframes zoomW
  0%
    transform: scale(0.95)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: scale(1.0)
#price .row .col:hover
  animation-name: zoomH
  animation-duration: 100ms
  animation-delay: 0
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: 1
  transform-origin: center
  animation-direction: alternate
@keyframes zoomH
  0%
    transform: scale(1)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)

  100%
    transform: scale(1.05)

//Появление при скроле 
.h2.anim
  animation-name: fadeInR
  animation-duration: 280ms
  animation-delay: 0
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-iteration-count: 1
  transform-origin: center
  animation-direction: alternate
@keyframes fadeInR
  0%
    transform: translate(-500px, 0)
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75)
  50%
    transform: translate(-500px, 0)
  100%
    transform: translate(0, 0)