@import settings.sass

html,body 
  scroll-behavior: smooth
*
    font-family: 'Montserrat', sans-serif
    font-size: $font-m    
    &::before
        margin-right: 5px
    &::after
        margin-left: 5px
    @media (max-width: 1200px)
        font-size: ($font-m - 2)
body
    background-color: #FCFCFC
#page
    overflow-x: hidden
.container
    max-width: 1200px
    margin: auto
    padding: 0 20px
.row
    display: flex
.phone::before
    content: url('../images/tel.svg')
.mail::before
    content: url('../images/mail.svg')
.clock::before
    content: url('../images/clock.svg')
.marker::before
    content: url('../images/marker.svg')
h1,h2
    font-size: $tittle
    font-weight: 800
    background: $tittle-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    width: fit-content
    @media (max-width: 1200px)
        font-size: ($tittle - 10)
        @media (max-width: 960px)
            margin-left: auto
            margin-right: auto
            text-align: center
            @media (max-width: 640px)
                font-size: ($tittle - 12)
                @media (max-width: 480px)
                font-size: ($tittle - 16)
h1
    padding: 30px 0
h2
    &::before
        content: ''
        width: 100px
        height: 5px
        background: $blue
        display: block
        margin-bottom: 10px
        @media (max-width: 960px)
            margin-left: auto
            margin-right: auto
h3
    font-size: 30px
    font-weight: 800
    background: $tittle-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    width: fit-content
.btn
    background: $btn-gradient
    color: $white
    font-weight: 800
    padding: 16px 27px
    border-radius: 50px
    text-align: center
    justify-self: center
    &.btn_border
        background: url(../images/border-btn.svg)
        background-repeat: no-repeat
        background-size: 100% 100%
        color: $black
        font-weight: 600
    &:hover
        opacity: 0.75
.glow
    position: absolute
    z-index: 2