@import settings.sass

#online
    position: relative
    padding: 90px 0
    @media (max-width: 640px)
        padding-bottom: 10px
    .container
        position: relative
        z-index: 2
    .glow
        &:nth-of-type(1)
            left: 0
            top: 400px
            content: url(../images/glow5.svg)
        &:nth-of-type(2)
            right: 0
            top: 40px
            content: url(../images/glow6.svg)
    h2
        &::after
            content: url(../images/online.svg)
            padding: 20px
            @media (max-width: 480px)
                display: block
                margin: 0
    .description
        color: $gray
        font-size: $font-xl
        padding: 40px 0
        @media (max-width: 960px)
            text-align: center
    .tittle
        font-weight: 700
        margin-bottom: 40px
        text-decoration: underline
        text-decoration-color: $blue
        &::before
            content: url(../images/online-marker.svg)
            margin-right: 30px
    .tabs
        [type="radio"]
            display: none
        .row
            margin: 10px 0
            @media (max-width: 1200px)
                flex-wrap: wrap
        label
            padding: 14px
            text-align: center
            width: 100%
            border: 2px solid #00AFEA
            &.active
                background: #B1E5F7
                border-color: #B1E5F7
        .tab
            display: none
            margin: auto -20px
            @media (max-width: 1200px)
                flex-wrap: wrap
            .col
                width: 100%
                padding: 20px
        #tab-btn-1:checked~#content-1, #tab-btn-2:checked~#content-2
            display: flex
    .content_video
        padding: 10px 0
        display: block
        iframe
            border-radius: 10px
            box-shadow: 0px 0px 30px #00AFEA
            min-height: 200px
            @media (max-width: 1200px)
                min-height: 400px
                @media (max-width: 640px)
                    min-height: 300px
                    @media (max-width: 480px)
                        min-height: 200px
    .content_name
        padding-top: 10px
        &::after
            content: ''
            width: 100px
            height: 3px
            background: $blue
            display: block
            margin-top: 10px