@import settings.sass

#sale
    padding: 90px
    @media (max-width: 960px)
        padding: 30px 10px
    h2
        padding-bottom: 30px
    .slider
        max-width: 840px
        margin: auto
        .slider__items
            counter-reset: slide
            .slider__item
                -webkit-box-flex: 0
                -ms-flex: 0 0 100%
                flex: 0 0 100%
                max-width: 100%
                counter-increment: slide
                height: auto
                margin: auto
                position: relative
                border-radius: 10px
                img
                    width: 100%
                    padding: 55px
                    transition: padding 0.5s
            .slider__item_active
                height: auto
                img
                    padding: 0